html, body{
  height: 100%;
}

ul#flex-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li{
  heigth: 150px;
  width: 100%;
  padding-top: 45px;
  color: white;
  font-weight: bold;
  font-size: 2.2em;
  text-align: center;
  width: 100px;
}

ul li:first-child { background: #c2d775 }
ul li:nth-child(2) { background: #007278 }
ul li:nth-child(3) {
  align-self: flex-end;
  background: #c7b600;
}
ul li:nth-child(4) { background: #a90077 }
ul li:nth-child(5) {
  background: #00a378;
}
ul li:last-child { background: #00ea72 }
